extends ./layout

block header
  +header()

block body
  .container
    div
      ul
        each article in articles
         li: div
            h2 #{article,title}
            div #{article.content}
            a(href='/article/view/#{article.id}') More info.
block footer
  +footer()



