include header.jade
include footer.jade
include menu.jade

doctype html
html
  head
      title= title
      // Viewport mobile tag for sensible mobile support
      meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

      block styles
      link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
      //STYLES
      link(rel="stylesheet", href="/styles/importer.css")
      //STYLES END

  body
    block header

    block body

    block footer


    script src="/bower_components/angular/angular.js"

    <!--only needed if you support non HTML5 FormData browsers.-->
    script src="/bower_components/angular/angular-file-upload-shim.js"
    script src="/bower_components/angular/angular-file-upload.js"
    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/app/uploadFile.js")
    // SCRIPTS END
