mixin menu ()
    h5 Menu:
      .list-group
        a.list-group-item(href= '/article/index') Articles list
        a.list-group-item(href= '/article/edit') Add new Article
        a.list-group-item(href= '/') Home
