mixin menu ()
    h5 Menu:
      .list-group
        a.list-group-item(href= '/article/index') Articles list
        a.list-group-item(href= '/article/create') Add new Article
        a.list-group-item(href= 'http://localhost:1337/') Home
