extends ../layout
block header

block body
  .container
    .row
      .jumbotron
        +header()
      .col-md-8.well
        if (article)
          div Form to edit article:
              form(name='edit_article', method='post', action="/article/create", enctype='multipart/form-data')
                div Title :
                  span.label    :
                  input(type='text', name='title', value='#{article.title}')
                div
                  | Preview :
                  textarea(name='preview', cols='40', rows='3') #{article.preview}
                div
                  | Content :
                  textarea(name='content', cols='40', rows='5') #{article.content}
                div
                  button.btn.button(type='submit') Submit
        else
          div Form to add article:
            form(name='add_article', method='post', action='/article/create', enctype='multipart/form-data')
              div Title :
                span.label    :
                input(type='text', name='title')
              div
                | Preview :
                textarea(name='preview', cols='40', rows='3')
              div
                | Content :
                textarea(name='content', cols='40', rows='5')
              div
                button.btn.button(type='submit') Submit
      .col-md-4.well
        +menu
block footer
  +footer()






