extends ../layout
block header
  +header()

block body
  .row
    .col-md-8.col-md-offset-2.well.well-sm
      div Form to add article:
        //|Chto za nah?
      form(name='add_article', method='post')
        div Title :
          span.label      :
          input(type='text', name='title', value='#{article.title}')
        div
          | Content :
          textarea(name='content', cols='40', rows='5')
        div
          button.btn.button(type='submit') Submit

block footer
  +footer()






