<div>
  <input ng-repeat="attachment in attachments" type="hidden" name="attachments[]" value="{{attachment}}" />
</div>
<div ngf-drop="ngf-drop" ngf-select="ngf-select" ng-model="files" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true" accept="image/*" class="drop-box">
  Drop only 1 image here or click to upload
</div>
<ul>
  <li ng-repeat="f in files">{{f.name}}</li>
</ul>
<div ng-repeat="f in files">
  <img ngf-src="files[{{$index}}]" ngf-default-src="/thumb.jpg" ngf-accept="'image/*'"/>
</div>
