<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">

    <form>
      <div class="form-group">
        <input type="text" data-ng-model="article.title" class="form-control" name="title">
      </div>
      <div class="form-group">
        <input type="text" data-ng-model="article.content" class="form-control" name="content">
      </div>
      <div class="form-group">
        <button class="btn btn-success"
                data-ng-click="sendPost(article)"
                type="button"
                name="button">
          Send
        </button>
      </div>
    </form>

    <div data-ng-repeat='article in articles'>
      {{article.title}} - {{article.content}}
    </div>
  </div>
</div>
