<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">

    <form>
      <div class="form-group">
        <input type="text" data-ng-model="article" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success"
                data-ng-click="sendPost(article)"
                type="button"
                name="button">
          Send
        </button>
      </div>
    </form>
    <lo>
      <div data-ng-repeat='article in articles'>
        <li>
          {{articles.article}}
        </li>
      </div>
    </lo>
  </div>
</div>
