<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">

    <form>
      <div class="form-group">
        <p/><div>Title:</div>
        <input type="text" data-ng-model="article.title" class="form-control">
        <p/><div>Content:</div>
        <input type="text" data-ng-model="article.content" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-success"
                data-ng-click="sendPost(article)"
                type="button"
                name="button">
          Send
        </button>
      </div>
    </form>
    <lo>
      <div data-ng-repeat='article in articles'>
        <li>
          {{article.title}}
          <p>
            {{article.content}}
          </p>
        </li>
      </div>
    </lo>
  </div>
</div>
